{% capture form_id %}AddToCartForm-{{ section_id }}{% endcapture %}
{% form 'product', product, id: form_id, class: 'product-single__form' %}
  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      {% if settings.variant_type == 'button' %}
        {% include 'variant-button', section_id: section_id, option_drop: option %}
      {% else %}
        {% include 'variant-dropdown', section_id: section_id %}
      {% endif %}
    {% endfor %}
  {% endunless %}

  <select name="id" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {% if settings.quantity_enable %}
    <div class="product__quantity product__quantity--{{ settings.variant_type }}">
      <label for="Quantity-{{ section_id }}">{{ 'products.product.quantity' | t }}</label>
      {% include 'quantity-input', id: section_id, qty: 1, min: 1 %}
    </div>
  {% endif %}

  {%- assign inventory_visible = false -%}
  {%- if settings.inventory_enable and current_variant.inventory_management == 'shopify' -%}
    {%- if current_variant.inventory_quantity <= settings.inventory_threshold and current_variant.inventory_quantity >= 0 -%}
      {%- assign inventory_visible = true -%}
    {%- endif -%}
  {%- endif -%}
  {%- if current_variant.inventory_quantity == 0 -%}
    {%- assign inventory_visible = false -%}
  {%- endif -%}

  <div
    id="ProductInventory-{{ section_id }}"
    class="product__inventory {% unless inventory_visible %}hide{% endunless %}"
    >
    {% if current_variant.available %}
      {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
    {% endif %}
  </div>

  {%- if settings.inventory_transfers_enable -%}
    <div
      id="ProductIncomingInventory-{{ section_id }}"
      class="product__inventory{% if inventory_visible %} hide{% endif %}">
      {%- if current_variant.incoming and inventory_visible == false -%}
        {%- if current_variant.next_incoming_date -%}
          {% assign date = current_variant.next_incoming_date | date: format: 'date' %}
          {%- if current_variant.available -%}
            {{ 'products.product.will_not_ship_until' | t: date: date }}
          {%- else -%}
            {{ 'products.product.will_be_in_stock_after' | t: date: date }}
          {%- endif -%}
        {%- else -%}
          {{ 'products.product.waiting_for_stock' | t }}
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- assign enable_dynamic_buttons = false -%}
  {% if settings.enable_payment_button and template != 'product.preorder' %}
    {%- assign enable_dynamic_buttons = true -%}
  {% endif %}

  {% if enable_dynamic_buttons %}
    <div class="payment-buttons">
  {% endif %}

    <button
      {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
      name="add"
      id="AddToCart-{{ section_id }}"
      class="btn btn--full add-to-cart{% if enable_dynamic_buttons %} btn--secondary{% endif %}"
      {% unless current_variant.available %} disabled="disabled"{% endunless %}>
      <span id="AddToCartText-{{ section_id }}">
        {% if current_variant.available %}
          {% if template == 'product.preorder' %}
            {{ 'products.product.preorder' | t }}
          {% else %}
            {{ 'products.product.add_to_cart' | t }}
          {% endif %}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
    </button>

    {% if enable_dynamic_buttons %}
      {{ form | payment_button }}
    {% endif %}

  {% if enable_dynamic_buttons %}
    </div>
  {% endif %}









  <hr class="hr--medium">




<div style="display: flex;align-items: center;gap: 10px;">
  <h5>Forma de frete</h5>
</div>
<div style="display: flex;align-items: center;gap: 10px;">
         <div>
            <img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/estoque-pronto.png?v=1692363939">
         </div>
         <input type="text" id="cep" placeholder="Digite o CEP" style="font-size: 14px;width:150px; height: 38px;display: inline-block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;line-height: 40px;height: 40px;padding: 0 10px;border: 1px solid #E5E5E5;float: left;margin-right: 0;">
         <a onclick="calcularFrete()" style="background-color: #F4F4F4;border: 0 none;border-radius: 4px;height: 40px;min-width: 45px !important;color:#4a4a4a !important;font-family: arial, tahoma, verdana, sans-serif !important;font-weight: normal;font-size: 15px;text-transform: none;margin: 0 0 0 7px;display: flex;align-items: center;justify-content: center;">OK</a>
      </div>
      <p id="valor-frete" style="visibility: hidden;margin-top: 10px;"><b>Valor do Frete:</b></p>





      
      <script>
         async function obterEstadoPorCEP(cep) {
             try {
                 const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
                 const data = await response.json();
                 return data.uf;
             } catch (error) {
                 console.error("Erro ao obter estado por CEP:", error);
                 return null;
             }
         }
         
         function calcularFrete() {
             var cepInserido = document.getElementById("cep").value;
         
             obterEstadoPorCEP(cepInserido)
                 .then(estadoEncontrado => {
                     if (estadoEncontrado !== null) {
                         var valorFrete = calcularValorFrete(estadoEncontrado);
                         document.getElementById("valor-frete").textContent = "Valor do Frete: R$" + valorFrete.toFixed(2);
                         document.getElementById("valor-frete").style.visibility = "visible";
                     } else {
                         document.getElementById("valor-frete").textContent = "CEP não encontrado ou inválido.";
                         document.getElementById("valor-frete").style.visibility = "visible";
                     }
                 });
         }
         
         function calcularValorFrete(estado) {
             var estadoFrete = {
                 "DF": 127.00,
                 "ES": 127.00,
                 "PR": 5.00,
                 "RJ": 157.00,
                 "RS": 117.00,
                 "SC": 97.00,
                 "SP": 137.00,
                 "Outros": 167.00
             };
         
             return estadoFrete[estado] || estadoFrete["Outros"];
         }
      </script>
      <style>
         svg {
         width: 30px;
         }
      </style>



























  <div id="VariantsJson-{{ section_id }}" class="hide" aria-hidden="true">
    {{ product.variants | json }}
  </div>
  {% if product.options.size > 1 %}
    <div id="CurrentVariantJson-{{ section_id }}" class="hide" aria-hidden="true">
      {{ current_variant | json }}
    </div>
  {% endif %}
{% endform %}
